.box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: nowrap;
    gap: 16px;
}
.charmander{
    padding: 16px;
    border: 2px dashed red;
}
.squirtle{
    padding: 16px;
    border: 2px dashed blue;
}
.bulbasaur{
    padding: 16px;
    border: 2px dashed yellow;
}
